.button-1 {
	width: 120px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: #ebebeb;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

.table-1 {
	width: 1250px;
	height: 218px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.combo-box-1 {
	width: 180px;
	height: 32px;
	padding: 4px 8px 4px 8px;
	background: #ebebeb;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;

}

.date-1{
	align-items: right;
}

