/*.browser-1 {
	width: 895px;
	height: 779px;
	background: #ffffff;
	color: #444444;
	border-color: #231f20;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 12px;
}*/
.process-1 {
	width: 885px;
	height: 60px;
	padding: 10px 10px 10px 10px;
	background: #ff6624;
	border-color: #359fff;
	border-width: 2px;
	border-style: solid;
}
.button-1 {
	width: 120px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: #ebebeb;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.footer-1 {
	width: 890px;
	height: 186px;
}
/*.logo-asvel-1 {
	width: 60px;
	height: 60px;
}
.scrollbar-1 {
	width: 18px;
	height: 882px;
	background: #e6e6e6;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
}*/
.heading-1 {
	width: 215px;
	height: 36px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}
.open-file {
	width: 64px;
	height: 64px;
}
.open-file-1 {
	width: 64px;
	height: 64px;
}
.open-file-2 {
	width: 64px;
	height: 64px;
}
.open-file-3 {
	width: 64px;
	height: 64px;
}
.label-1 {
	width: 88px;
	height: 20px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.label-2 {
	width: 62px;
	height: 20px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.label-3 {
	width: 62px;
	height: 20px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.label-4 {
	width: 62px;
	height: 20px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.circle-1 {
	width: 56px;
	height: 56px;
	box-shadow: 0px 6px 5px rgba(117, 117, 117, 0.8);
	background: #ff7043;
}
.plain-svg-1 {
	width: 24px;
	height: 24px;
	background: #fafafa;
}
.label-5 {
	width: 113px;
	height: 43px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}
.open-file-4 {
	width: 64px;
	height: 64px;
}
.label-6 {
	width: 77px;
	height: 35px;
	color: #232323;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}