form {
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	border-color: #4267b2;
}

input[type="submit"] {
	width: 100%;
	background-color: #4267b2;
	color: white;
	padding: 5px 170px;
	margin: 40px 0;
	border: none;
	border-radius: 100px;
	text-align: center;
}