.myFigure {
    margin-right: 70px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.card-body {
    margin-left: 50px;
    margin-right: 50px;
}

.card-footer {
    height: 70px;
}

.myFigure img {
    vertical-align: text-bottom;
    width: 100px;
    height: 100px;
}

.myButton {
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
}