.browser-1 {
	width: 895px;
	height: 779px;
	background: #ffffff;
	border-color: #231f20;
	border-width: 1px;
	border-style: solid;
}
.process-1 {
	width: 895px;
	height: 60px;
	padding: 10px 10px 10px 10px;
	background: #ff6624;
	border-color: #359fff;
	border-width: 2px;
	border-style: solid;
}
.button-1 {
	width: 120px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: #ebebeb;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.scrollbar-1 {
	width: 18px;
	height: 874px;
	background: #e6e6e6;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 12px 12px 12px 12px;
}
.table-1 {
	width: 799px;
	height: 218px;
	border-color: #c0c0c0;
	border-width: 1px;
	border-style: solid;
}
.heading-2 {
	width: 217px;
	height: 36px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}
.combo-box-1 {
	width: 180px;
	height: 32px;
	padding: 4px 8px 4px 8px;
	background: #ebebeb;
	color: #232323;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.map-1 {
	width: 760px;
	height: 166px;
	background: #e6e6e6;
	border-color: #aaaaaa;
	border-width: 1px;
	border-style: solid;
}
.heading-2 {
	width: 78px;
	height: 36px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}