form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  input[type="text1"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1000px;
    height: 100px;
  }

  input[type="text2"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }

  
  input[type="submit"] {
    width: 20%;
    background-color: #4267b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }